body{
	margin:0px auto;
	font-size:16px;
	max-width: 1024px;
	min-width: 1024px;
	max-width: 1024px; 

}
button{
	border-radius: 2px;
}
span{
	vertical-align: middle;
}
img[src="img/twitter.png"]{
	width: 50px;
	height: 50px;
}
#s1 article span {
	display: flex;
   justify-content: center;
   align-items: center;
}
#s2 article span {
	display: flex;
   justify-content: center;
   align-items: center;
}

#persona{
	height: 400px;
}
#a1s1{
	display: inline-block;
	width: 25%;
	height: 400px;
	text-align: center;
	background-color: #F1EFF0;
}
#a2s1{
	display: inline-block;
	width: 35%;
	height: 400px;
	vertical-align: top;
	text-align: center;
	background-color:#F1EFF0;
	margin-left: -4px;

}
#a3s1{
	display: inline-block;
	width: 35%;
	height: 400px;
	vertical-align: top;
	text-align: center;
	background-color:#606060;
	margin-left: -4px; 
}
#btn1 {
	padding-top: 30px;
}
#btn2 {
	padding-top: 30px;
}
#s2 article span{
	position: relative;

	vertical-align: middle;
}

#a1s2{
	display: inline-block;
	margin-top: -4px;
	width: 40%;
	height: 200px;
	text-align: center;
	vertical-align: top;
	background-color:#67ABE8;
}
#a2s2{
	display: inline-block;
	width: 25%;
	height: 200px;
	text-align: center;
	vertical-align: top;
	background: #D2DCD1;
	margin-top: -4px;
	margin-left: -4px;
}
#a3s2{
	display: inline-block;
	width: 30%;
	height: 200px;
	text-align: center;
	vertical-align: top;
	background: #787677; 
	margin-top: -4px;
	margin-left: -4px;
}
#span3s1{
	padding-top: 10%; 
}
#span2s1{
	padding-top: 10%;
}
#span1s2{
	padding-top: 10%; 
}
#span2s2{
	padding-top: 10%;
}
#twitter{
	position:relative;
	top: 30px;
	left:-170px;

}

.btnblack{
	border-radius: 20px;
	padding: 10px;
	background-color:rgba(0,0,0,0);
	border-color: black;
	border-width: 2px; 
}
.btnblanco{
	border-radius: 20px;
	padding: 10px;
	background-color:rgba(0,0,0,0);
	border-color: white;
	border-width: 2px; 
}
.blanco{
	color: white;
}

.grande{
	font-size: 2em;
}
.mediano{
	font-size: 1em;
}
.middle{
	font-size: 1.1em;
}
.nito{
	font-weight: bold;
}


